<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
          <div class="col-sm-5 form-group">
            <label for="">Name</label>
            <input type="text" name="" value="" class="form-control"
            #nameInput>
          </div>
          <div class="col-sm-2 from-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" name="" class="form-control"
            #amountInput>
          </div>
      </div>
      <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-success" type="button" (click)="addIngredient(nameInput.value, amountInput.value)">Add</button>
                <span style="margin-left:5px;"></span>
                <button class="btn btn-danger" type="button">Delete</button>
                <span style="margin-left:5px;"></span>
                <button class="btn btn-primary" type="button">Clear</button>


              </div>
          </div>
    </form>
  </div>
</div>
